<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.test.demoatomikos.dao.Db1Mapper">

    <insert id="insertCustomer" parameterType="com.test.demoatomikos.entity.Customer">
        INSERT INTO `customer`
        (
        `name`,
        `age`)
        VALUES
        (#{name},#{age});
    </insert>

</mapper>